<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/43d6fb86d2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/aula.css">
    <title>Aulas-HeroFit</title>
</head>
<body>
    <header>
        <div class="menu">
            <h1 class="logo"><span>Hero</span>Fit</h1>

             <!-- Botão Hamburguer -->
            <div class="hamburguer" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span> 
            </div>

            <nav class="menu-header">
                <ul class="lista-itens">
                    <li><a href="principal.html">Inicio</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="aula.html">Aulas</a></li>
                    <li><a href="treino.html">Treinos</a></li>
                    <li><a href="planos.html">Planos</a></li>
                    <li><a href="feedback.html">Feedback</a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <a href="perfil.html" class="profile-img-link"><img src="../static/img/perfil.jpg" alt="Foto de Perfil" class="profile-img"></a>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-content">
            <h1 class="texto-primario">AGENDAMENTO DE AULAS</h1>
            <div class="tabela">
                <table class="schedule-table">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Boxe</th>
                        <th>FitDance</th>
                        <th>FitBike</th>
                        <th>Funcional</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Dia">Segunda-feira</td>
                        <td data-label="Boxe">10:00 - 11:00 <input type="checkbox"></td>
                        <td data-label="FitDance">15:00 - 16:00 <input type="checkbox"></td>
                        <td data-label="FitBike">18:00 - 19:00 <input type="checkbox"></td>
                        <td data-label="Funcional">20:00 - 21:00 <input type="checkbox"></td>
                        <td data-label="Ação"><button onclick="abrirAlerta()" class="agendar-btn">Agendar</button></td>
                    </tr>
                    <tr>
                        <td data-label="Dia">Terça-feira</td>
                        <td data-label="Boxe">10:00 - 11:00 <input type="checkbox"></td>
                        <td data-label="FitDance">15:00 - 16:00 <input type="checkbox"></td>
                        <td data-label="FitBike">18:00 - 19:00 <input type="checkbox"></td>
                        <td data-label="Funcional">20:00 - 21:00 <input type="checkbox"></td>
                        <td data-label="Ação"><button onclick="abrirAlerta()" class="agendar-btn">Agendar</button></td>
                    </tr>
                    <tr>
                        <td data-label="Dia">Quarta-feira</td>
                        <td data-label="Boxe">10:00 - 11:00 <input type="checkbox"></td>
                        <td data-label="FitDance">15:00 - 16:00 <input type="checkbox"></td>
                        <td data-label="FitBike">18:00 - 19:00 <input type="checkbox"></td>
                        <td data-label="Funcional">20:00 - 21:00 <input type="checkbox"></td>
                        <td data-label="Ação"><button onclick="abrirAlerta()" class="agendar-btn">Agendar</button></td>
                    </tr>
                    <tr>
                        <td data-label="Dia">Quinta-feira</td>
                        <td data-label="Boxe">10:00 - 11:00 <input type="checkbox"></td>
                        <td data-label="FitDance">15:00 - 16:00 <input type="checkbox"></td>
                        <td data-label="FitBike">18:00 - 19:00 <input type="checkbox"></td>
                        <td data-label="Funcional">20:00 - 21:00 <input type="checkbox"></td>
                        <td data-label="Ação"><button onclick="abrirAlerta()" class="agendar-btn">Agendar</button></td>
                    </tr>
                    <tr>
                        <td data-label="Dia">Sexta-feira</td>
                        <td data-label="Boxe">10:00 - 11:00 <input type="checkbox"></td>
                        <td data-label="FitDance">15:00 - 16:00 <input type="checkbox"></td>
                        <td data-label="FitBike">18:00 - 19:00 <input type="checkbox"></td>
                        <td data-label="Funcional">20:00 - 21:00 <input type="checkbox"></td>
                        <td data-label="Ação"><button onclick="abrirAlerta()" class="agendar-btn">Agendar</button></td>
                    </tr>
                    <tr>
                        <td data-label="Dia">Sábado</td>
                        <td data-label="Boxe">07:30 - 08:30 <input type="checkbox"></td>
                        <td data-label="FitDance">09:00 - 10:00 <input type="checkbox"></td>
                        <td data-label="FitBike">10:30 - 11:30 <input type="checkbox"></td>
                        <td data-label="Funcional">14:30 - 15:30 <input type="checkbox"></td>
                        <td data-label="Ação"><button onclick="abrirAlerta()" class="agendar-btn">Agendar</button></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </main>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function abrirAlerta(){
        swal({
            title: "Reserva Confirmada!",
            text: "Esperamos você",
            icon: "success",
});
    }

    function toggleMenu() {
    document.querySelector(".menu-header").classList.toggle("ativo");
}
</script>
</html>

